<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <div class="header__logo__text cursor-pointer">
                <span>M</span>
                <span>T</span>
                <span>GREEN</span>
            </div>
        </div>
        <div class="header__menu menu">
            <a class='menu__item'>Product</a>
            <a class='menu__item'>Price</a>
            <a class='menu__item'>About</a>
            <a class='menu__item'>FAQs</a>
            <a class='menu__item'>Profile</a>
        </div>
        <div class="header__account">
              <div class="header__language">
                   <img src="img/en-flag.svg" class='header__language__show'></img>
                   <img src="img/vi-flag.svg"></img>
              </div>
              <div class="confirm__pin">
                  <div class="header__account__item" onClick={this.openLogin}>
                      <i class="header__account__icon fas fa-lock"></i>
                      <span class="header__account__text align-bt">Login</span>
                   </div>
                   <div class="confirm__main">
                       <login-component></login-component>
                   </div>
               </div>
               <div class="confirm__pin">
                   <button class="header__account__item btn btn--green btn--md">
                       Register
                   </button>
               </div>
               <button ng-if="0" class="header__account__item btn btn--danger btn--sm">Logout</button>
        </div>
    </div>
</header>
